
  .membre {
    /* border: solid; */
    display: flex;
    margin-top: 50px;
  }
  .profilformorganiz {
    display: flex;
  }
  .formorganiz {
    border: 1px solid grey;
  
    margin-left: 110px;
    padding-right: 50px;
    padding-bottom: 25px;
  }
  .profilformorganiz {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .nav-tabs{
    margin-top:80px;
  }