.imgPreview {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW-vlzxatqDVDAQu4jpEfVlxcT_HXgembwISZjeZMdt2mm2fJv");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 200px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
  }
  .information a:hover {
    color: rgb(255, 217, 0);
  }
  .information a {
    color: rgba(56, 55, 55, 0.911);
  }
  
  .photoprofil {
    margin-left: 30px;
  }
  
  a {
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    justify-content: space-between;
    /* border: solid; */
    margin-left: 30px;
  }
  .info-personnel {
    border-right: 1px solid grey;
    width: 260px;
    height: 450px;
  }
  